{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="/src/adapters/entrypoints/static/icao/trips.css">

<div class="form-container-wrapper" id="form-wrapper">
    <div class="plan">Спланировать путешествие
        <div class="intr">Постройте маршрут вашего путешествия. Добавляйте точки для посещения, а также информацию о
            гостиницах, аэропортах, времени прилета и многое другое.
        </div>
    </div>
    <div class="form-container" id="form-container-0">
        <div class="form-item">
            <label for="point-0" class="name"> Начало путешествия :</label>
            <input type="text" id="point-0" name="point-0" class="form">
        </div>
        <div class="form-item">
            <label class="name">Транспорт</label>
            <select id='type_way-0' class="selector">
                <option value="poliline" selected>poliline</option>
                <option value="car">car</option>
            </select>
        </div>
        <div class="form-item">
            <label for="date_to-0" class='name'>Дата прибытия:</label>
            <input type="date" id="date_to-0" name="date_to-0">
        </div>
        <div class="form-item">
            <label for="date_out-0" class="name"> Дата отбытия :</label>
            <input type="date" id="date_out-0" name="date_out-0" class="form">
        </div>
        <div class="form-item">
            <label for="gost-0" class="name"> Гостиница :</label>
            <input type="text" id="gost-0" name="gost-0" class="form">
        </div>
        <div class="form-item">
            <label for="air-0" class="name"> Аэропорт :</label>
            <input type="text" id="air-0" name="air-0" class="form">
        </div>
        <div class="form-item">
            <label for="icao-0" class="name"> ICAO код :</label>
            <input type="text" id="icao-0" name="icao-0" class="form">
        </div>
        <div class="form-item">
            <label for="cost-0" class="name"> Цена посещения за точку :</label>
            <input type="number" id="cost-0" name="cost-0" class="form">
        </div>
        <div class="form-item">
            <label for="rate-0" class="name"> Расчетная валюта:</label>
            <select id="rate-0" name="rate-0" class="selector"></select>
        </div>
        <div></div>
    </div>
    <button class="add-button" type="button" onclick="addForm()">Добавить пункт</button>
    <!--<a href="/map">-->
    <button type="button" class='end' onclick="submitData()"> Завершить</button>

</div>

<script src="/src/adapters/entrypoints/static/icao/test.js"></script>
{% endblock %}