<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/src/adapters/entrypoints/static/map.css">
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=&lang=ru_RU"></script>
</head>
<header>
  <div class="logo">
    <img src="src/adapters/entrypoints/static/airplane_plane_travel_travels_icon_159298.png" alt="Logo">
  </div>
  <div class="menu">
    <ul>
        <li><a>Опубликовать</a></li>
      <li> <a>Мои путешествия</a></li>
      <li><a>Выход</a></li>
    </ul>
  </div>
</header>

<body>

<div class="map-container">
    <div id="map"></div>
    <div class="sidebar">
        {% for i in range(data["loc"] | length) %}
        <div class="point" id="point-{{ i }}">
            <p>Точка посещения: {{ data["loc"][i] }}</p>
            <p>Дата прибытия: {{ data["date_to"][i] }} </p>
            <p>Дата отбытия: {{ data["date_out"][i] }}</p>
            <p>Гостиница: {{ data["gost"][i] }}</p>
            <p>{{ data["wait"][i]}}</p>
            <p> {{data["cost"][i]}}</p>
            <p class = "rater-{{ i }}" id = "rater-{{ i }}">00:00:00</p>
            <p><a href={{data["rec"][i]}}>Забронировать гостиницу</a></p>
        </div>
        <div class="point" >
        </div>
        {% endfor %}
    </div>
    <div class= "point">
        <p>total price in <p2 id="rater">USD</p2> -
            <p1 id = 'summary'>{{data["total_score"]}}</p1>
        </p>
        <select id="selector"></select>
    </div>

</div>
    <script>
    function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
        }

        function spliter(time){
            return time.split(' ')[1];
        }


        async function get_data_by_region(attitude,latitude){
    try{
    const apiKey = '17EMDDSCAKIF'; //  будем получать от сервера, пока храним в открытом виде
    const url = `http://api.timezonedb.com/v2.1/get-time-zone?key=${apiKey}&format=json&by=position&lat=${attitude}&lng=${latitude}`;
    let response = await fetch(url);
    const data = await response.json();
    await delay(2000);
    return data;
    }
    catch (error) {
    console.error('Error during data retrieval:', error);
    return null;
  }
 }

   ymaps.ready(function () {
    var map = new ymaps.Map("map", {
        center: [55.76, 37.64],
        zoom: 3,
        controls: ["zoomControl", "searchControl"]
    });

    var locations = {{ data["loc"] | safe }};
    var coordinates = [];
    var validator = [];

    function addPolyline() {
        if (coordinates.length > 1) {
            var polyline = new ymaps.Polyline(
                coordinates,
                {
                    hintContent: 'Линия между городами'
                },
                {
                    strokeColor: "#0000FF",
                    strokeWidth: 4,
                    strokeOpacity: 0.7
                }
            );
            map.geoObjects.add(polyline);


        }
    }

    function geocodeLocation(location) {
        return new Promise(function(resolve, reject) {
            var geocoder = ymaps.geocode(location);
            geocoder.then(function(res) {
                var geoObject = res.geoObjects.get(0);
                if (geoObject) {
                    var coords = geoObject.geometry.getCoordinates();
                    resolve(coords);
                } else {
                    reject("Не удалось получить координаты для " + location);
                }
            }).catch(function(err) {
                reject("Ошибка геокодирования для адреса: " + location + ", " + err);
            });
        });
    }

    var promiseChain = Promise.resolve();
    locations.forEach(function(location, index) {
        promiseChain = promiseChain
            .then(function() {
                return geocodeLocation(location);
            })
            .then(function(coords) {
                coordinates.push(coords);
                validator.push(coords);
                var placemark = new ymaps.Placemark(coords, {
                    balloonContent: location
                });
                map.geoObjects.add(placemark);
                addPolyline();
            })
            .catch(function(err) {
                validator.push(0)
                console.error(err);

            });
    });
    promiseChain.then(async function() {
        for (let i = 0; i < validator.length; i++){
            await new Promise(resolve => setTimeout(resolve, 500));
            if (validator[i] == 0){
            console.log('error');
            let region_time = document.getElementById(`rater-${i}`);
            region_time.innerText = 'data by time not found';
            }
            else{
                get_data_by_region(validator[i][0],validator[i][1]).then(function(data){
                if (data.status == 'OK'){
                    console.log('success');
                    let region_time = document.getElementById(`rater-${i}`);
                    region_time.innerText = `${spliter(data.formatted)}`;

                }

                });
            }
        }
    });



});
    </script>
<button class="fixed-button">Сохранить путешествие</button>
<script src="/src/adapters/entrypoints/static/rate.js"></script>
<script src="/src/adapters/entrypoints/static/timer.js"></script>
</body>
</html>
