<!DOCTYPE html>
<html lang="ru">
  <head>
<link rel="stylesheet" href="/src/adapters/entrypoints/static/icao/map.css">
<script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=6a4c745a-8968-455d-8801-aef21ebfa91b&lang=ru_RU"></script>
  </head>
<div class="map-container">
    <div id="map"></div>

    <div class="sidebar" id = 's'>
        {% for i in range(data["loc"] | length) %}
        <div class="point" id="point-{{ i }}">
            <p id = 'place-{{ i }}'>Точка посещения: {{ data["loc"][i] }}</p>
            {% if data["date_to"][i] != '!' %}

            <p id = 'to-{{ i }}'>Дата прибытия: {{ data["date_to"][i] }} </p>
            {% endif %}

            <p id  = 'out-{{ i }}'>Дата отбытия: {{ data["date_out"][i] }}</p>

            {% if data["air"][i] != '!' %}
            <p id = 'airto-{{ i }}'>Аэропорт прилета: {{ data["air"][i] }} </p>
            {% endif %}

            {% if data["icao"][i] != '!' %}
            <p id  = 'icao1-{{ i }}'>Icao код: {{ data["icao"][i] }} </p>
            {% endif %}

            {% if data["air2"][i] != '!' %}
            <p id  = 'airout-{{ i }}'>Аэропрт вылета: {{ data["air2"][i] }}</p>
            {% endif %}

            {% if data["icao2"][i] != '!' %}
            <p id  = 'icao2-{{ i }}'>Icao код: {{ data["icao2"][i] }}</p>
            {% endif %}


            <p id ='gost-{{ i }}'>Гостиница: {{ data["gost"][i] }}</p>
            {% if i != 0%}
            <p>{{ data["wait"][i]}}</p>
            {% endif %}
            <p id="cost-{{ i }}"> {{data["cost"][i]}}</p>
            <p class="rater-{{ i }}" id="rater-{{ i }}">Loading time in point...</p>
            <p id = 'typic-{{ i }}'>Транспорт отправления: {{data["typic"][i]}}</p>
        </div>
        <div class="point">
        </div>
        {% endfor %}
    </div>
    <div class="point">
        <p>total pri
          
            <p2 id="rater">USD</p2>
            -
            <p1 id='summary'>{{data["total_score"]}}</p1>
        </p>
        <select id="selector"></select>
    </div>
    <button id ='add_button' class = 'point'> Добавить точку</button>

</div>

<script>

    function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    console.log({{ data["loc"] | safe }});

    function spliter(time){
        return time.split(' ')[1];
    }

async function get_data_by_region(latitude, longitude) {
    try {
      const response = await fetch('/api/v1/app/location/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ latitude: latitude, longitude: longitude })
      });

      if (!response.ok) {
        const error = await response.json();
        console.error('Ошибка при отправке координат:', error);
        return null;
      }
      const data = await response.json();
      return data;
    } catch (error) {
      console.error('Произошла ошибка:', error);
      return null;
    }
}
    ymaps.ready(function () {
        var map = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 3,
            controls: ["zoomControl", "searchControl"]
        });

function valid(value) {
  return /^[1-9]\d*$/.test(value);
}

function blocker(adr){
  const new_point = document.createElement('div');
  new_point.classList.add('point');
  new_point.id = 'myUniqueId';
  new_point.innerHTML = `
    <p id = 'test1'> Точка посещения: "${adr}"
    </p>
    <p id = '2'>
      Дата прибытия:
      <input type="date" id='test2'>
    </p>
    <p id = '3'>
      Дата отбытия:
      <input type="date" id='test3'>
    </p>
    <p id = '4'>
      Гостиница:
      <input id ='test4' >
    </p>
    <p id = '5'>
      Планируемый бюджет:
      <input type="number" id = 'test5'>
    </p>
    <p id = 'test6'>
    Валюта:
    <select id = 'currencies'>
    </select>
    </p>
    <p id = '7'>
      Транспорт отправления:
    <select  class="selector" id ='test7'>
      <option value="poliline" selected>poliline</option>
      <option value="car">car</option>
    </select>
    </p>
    <button type="submit" id = 'save_button'>Редактировать</button>
  `;
    document.addEventListener('input', function(event) {
    const target = event.target;
    if (target.tagName === 'INPUT' && target.id === 'test5' && target.type === 'number') {
      if (!valid(target.value)) {
        target.value = '';
      }
    }
    });



  const to = document.getElementById('s');
  to.appendChild(new_point);
  const saveButton = document.getElementById('save_button');
    if (saveButton) {
      saveButton.addEventListener('click', processSpecificInputFields);
      saveButton.addEventListener('click', plus);
    }
}

async function plus(){
    let tek = document.getElementById(`cost-${count}`).innerText.split('-');
    console.log(tek[tek.length - 1]);
    if (tek[tek.length - 1] !== "USD") {
        let z1 = await convert(tek[1], 'USD', parseInt(tek[0]));
        let old = document.getElementById('rater').innerText;
        let old1 = document.getElementById('summary').innerText;
        if (old === "USD"){
        document.getElementById('summary').innerText = parseInt(old1) + parseInt(z1);
        }
        if (old != "USD"){
            let suma = await convert(old, 'USD', parseInt(old1));
            document.getElementById('summary').innerText = parseInt(suma) + parseInt(z1);
            document.getElementById('rater').innerText = "USD";
            document.getElementById('selector').value = "USD";

        }
    }

    if (tek[tek.length - 1] === "USD"){
        var z2 = tek[0];
        let old = document.getElementById('rater').innerText;
        let old1 = document.getElementById('summary').innerText;
        if (old === "USD"){
        document.getElementById('summary').innerText = parseInt(old1) + parseInt(z2);
        }
        if (old != "USD"){
            let suma = await convert(old, 'USD', parseInt(old1));
            document.getElementById('summary').innerText = parseInt(suma) + parseInt(z2);
            document.getElementById('rater').innerText = "USD";
            document.getElementById('selector').value = "USD";

        }
    }

}


async function convert(from, to, amount) {
  try {
    const response = await fetch(`https://api.frankfurter.dev/v1/latest?base=${from}&symbols=${to}`);
    const data = await response.json();
    const convertedAmount = (amount * data.rates[to]).toFixed(2);
    return convertedAmount;
  } catch (error) {
    console.error('Ошибка при конвертации:', error);
    return null;
  }
}



function processSpecificInputFields() {
  const targetIds = ['2', '3', '4', '7'];
  targetIds.forEach(id => {
    const paragraph = document.getElementById(id);
    if (paragraph) {
      const inputElement = paragraph.querySelector('input');
      const selectElement = paragraph.querySelector('select');

      if (inputElement) {
        const labelText = paragraph.firstChild?.nodeValue?.trim() || '';
        const inputValue = inputElement.value;
        paragraph.textContent = `${labelText} ${inputValue}`;
        inputElement.remove();
      } else if (selectElement) {
        const labelText = paragraph.firstChild?.nodeValue?.trim() || '';
        const selectedValue = selectElement.options[selectElement.selectedIndex]?.text || '';
        paragraph.textContent = `${labelText} ${selectedValue}`;
        selectElement.remove();
      }
    }
  });
  const par = document.getElementById('5');

  const selected = document.getElementById('currencies').value;
  const inputed = document.getElementById('test5').value;
  if (inputed === ''){
    par.textContent = `${0}-${selected}`;
  }
  else{
  par.textContent = `${inputed}-${selected}`;
  }
  par.id = `cost-${count}`;
  document.getElementById('test6').remove();
  const saveButton = document.getElementById('save_button');
  if (saveButton) {
    saveButton.remove();
    document.getElementById('myUniqueId').id = `point-${count}`;
    changeSpecificIds();
  }
}

function changeSpecificIds() {
  const idMap = {
    '2': 'to',
    '3': 'out',
    '4': 'gost',
    '7': 'typic',
    'test1':'place'
  };
  document.getElementById('add_button').disabled = false;
  for (const oldId in idMap) {
    const newId = idMap[oldId];
    const elementToChange = document.getElementById(oldId);

    if (elementToChange) {
      elementToChange.id = `${newId}-${count}`;
    } else {
      console.log(`Элемент с id '${oldId}' не найден.`);
    }
  }

  connectionTypes.push(document.getElementById(`typic-${count}`).innerText.split(': ')[1]);
  console.log(connectionTypes);
  last = connectionTypes[connectionTypes.length-1];

}
let tyy = '';
function processCostAndCurrency() {
  const budgetElement = document.getElementById('5');
  const currencyElement = document.getElementById('test-6');
  if (budgetElement && currencyElement) {
    const budgetValue = budgetElement.querySelector('input[type="number"]')?.value || budgetElement.textContent.split(':')[1]?.trim();
    const currencyValue = currencyElement.querySelector('select')?.value || currencyElement.textContent.split(':')[1]?.trim();
    const costParagraph = document.createElement('p');
    costParagraph.classList.add('cost');
    costParagraph.textContent = `Бюджет: ${budgetValue} ${currencyValue}`;
    currencyElement.parentNode.insertBefore(costParagraph, currencyElement.nextSibling);
    budgetElement.remove();
    currencyElement.remove();
  } else {
    console.log("Не найдены элементы с id '5' или 'test-6'.");
  }
}

function onMapClick(e) {
   let cur = e.get('coords');
   console.log(cur);
   count = coordinates.length;
   map.events.remove('click', onMapClick);
   ymaps.geocode(cur).then(function (res) {
        if (last === 'car'){
        createCarRoute(coordinates[coordinates.length - 1],cur);
        coordinates.push(cur);
        connectionTypes.push(last);

        let first = res.geoObjects.get(0);
        let adr = first.getAddressLine();
        let marker = new ymaps.Placemark(cur, {
            balloonContent: 'Новая точка',
            iconContent: ''
            });
        map.geoObjects.add(marker);
        blocker(adr);
        }
        else{
        drawPolyline(coordinates[coordinates.length - 1],cur);
        coordinates.push(cur);
        connectionTypes.push(last);
        let first = res.geoObjects.get(0);
        let adr = first.getAddressLine();
        let marker = new ymaps.Placemark(cur, {
            balloonContent: 'Новая точка',
            iconContent: ''
            });
        map.geoObjects.add(marker);
        blocker(adr);

        }
   });
 }


document.getElementById('add_button').addEventListener('click', function () {
  this.disabled = true;
  map.events.add('click', onMapClick);
  });
const getValue = (id) => {
  const element = document.getElementById(id);
  if (element) {
    const text = element.innerText.trim();
    const colonIndex = text.indexOf(':');
    if (colonIndex !== -1) {
      return text.substring(colonIndex + 1);
    } else {
      return text;
    }
  } else {
    return null;
  }
};

document.getElementById('send_to_database').addEventListener('click', async function () {
    server = [];
    console.log(count);
    for (let j = 0;j < coordinates.length;j++){
    const place = getValue(`place-${j}`);
    const to = getValue(`to-${j}`);
    const out = getValue(`out-${j}`);
    const airto = getValue(`airto-${j}`);
    const airout = getValue(`airout-${j}`);
    const icao = getValue(`icao-${j}`);
    const icao1 = getValue(`icao1-${j}`);
    const hotel = getValue(`gost-${j}`);
    const price = getValue(`cost-${j}`);
    const type = getValue(`typic-${j}`);
    server.push({place,to,out,airto,airout,icao,icao1,hotel,price,type});
    }

    const response = await fetch('http://127.0.0.1:8000/api/v1/app/send/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(server)
        });

    window.location.href = '/';
});

        var locations = {{ data["loc"] | safe }}; // Список местоположений
        var connectionTypes = {{ data["typic"] | safe }}; // Список типов связи (car или poliline)
        let last = connectionTypes.pop(); // удалили последний ненужный тип передвижения
        console.log(last);

        var coordinates = [];
        var validator = [];
        let count;

        function geocodeLocation(location) {
            return new Promise(function(resolve, reject) {
                var geocoder = ymaps.geocode(location);
                geocoder.then(function(res) {
                    var geoObject = res.geoObjects.get(0);
                    if (geoObject) {
                        var coords = geoObject.geometry.getCoordinates();
                        resolve(coords);
                    } else {
                        reject("Не удалось получить координаты для " + location);
                    }
                }).catch(function(err) {
                    reject("Ошибка геокодирования для адреса: " + location + ", " + err);
                });
            });
        }

        var promiseChain = Promise.resolve();
        locations.forEach(function(location) {
            promiseChain = promiseChain
                .then(function() {
                    return geocodeLocation(location);
                })
                .then(function(coords) {
                    coordinates.push(coords);
                    validator.push(coords);
                    var placemark = new ymaps.Placemark(coords, {
                        balloonContent: location
                    });
                    map.geoObjects.add(placemark);
                })
                .catch(function(err) {
                    console.error(err);
                    validator.push(0);
                });
        });

        promiseChain.then(function() {
            if (coordinates.length > 1) {
                for (var i = 0; i < coordinates.length - 1; i++) {
                    var startPoint = coordinates[i];
                    var endPoint = coordinates[i + 1];
                    var connectionType = connectionTypes[i];
                    if (startPoint && endPoint) {
                        if (connectionType === "car") {
                            createCarRoute(startPoint, endPoint);
                        } else if (connectionType === "poliline") {
                            drawPolyline(startPoint, endPoint);
                        }
                    } else {
                        console.error("Невозможно построить маршрут, так как одна из точек не имеет координат.");
                    }
                }
            } else {
                console.error("Недостаточно точек для построения маршрута");
            }
        });
        function createCarRoute(startPoint, endPoint) {
            let cnt = 0;
            if (startPoint && endPoint) {
                var multiRoute = new ymaps.multiRouter.MultiRoute({
                    referencePoints: [startPoint, endPoint],
                    params: {
                        routingMode: 'auto'
                    }
                }, {
                    boundsAutoApply: true
                });

                map.geoObjects.add(multiRoute);
                multiRoute.model.events.add('requestsuccess',function(){
                    let route = multiRoute.getActiveRoute();
                    try{
                        const dis = route.properties.get("distance").value;
                    }
                    catch(error){
                        drawPolyline(startPoint, endPoint);
                    }

                });
            } else {
                console.error("Невозможно построить маршрут, так как одна из точек не имеет координат.");
            }
        }


        function drawPolyline(startPoint, endPoint) {
            if (startPoint && endPoint) {
                var polyline = new ymaps.Polyline(
                    [startPoint, endPoint],
                    {
                        hintContent: 'Линия между точками'
                    },
                    {
                        strokeColor: "#0000FF",
                        strokeWidth: 4,
                        strokeOpacity: 0.7
                    }
                );
                map.geoObjects.add(polyline);
            } else {
                console.error("Невозможно построить полилинию, так как одна из точек не имеет координат.");
            }
        }
        promiseChain.then(async function() {

            for (let i = 0; i < validator.length; i++){
                await new Promise(resolve => setTimeout(resolve, 2000));
                if (validator[i] == 0){
                    console.log('error');
                    let region_time = document.getElementById(`rater-${i}`);
                    region_time.innerText = 'data by time not found';
                }
                else{
                    get_data_by_region(validator[i][0],validator[i][1]).then(function(data){
                        if (data.status == 'OK'){
                            console.log('success');
                            let region_time = document.getElementById(`rater-${i}`);
                            region_time.innerText = `${spliter(data.formatted)}`;

                        }

                    });
                }
            }
        });
    });
</script>
<button class="fixed-button" id="send_to_database">Сохранить путешествие</button>
<script  src="/src/adapters/entrypoints/static/icao/rate.js"></script>
<script src="/src/adapters/entrypoints/static/icao/timer.js"></script>
